@model Models.Models.Video

@using SecondHandStoreASPNET_Project.Helpers

<div>
    <div class="TitleContainer">
        <h3 class="VideoBoxTitle">@Model.Title</h3>
    </div>


    <div class="ImageContainer">
        <a href="/video/details/@Model.VideoID">@Html.ImageConvertHelper(Model.Image1, "auto", "100%")</a>
        <input type="submit" class="button" value="Remove From Cart" onclick="location.href='@Url.Action("Delete", "Video", new { id = Model.VideoID })'" />
    </div>

    <div class="DescriptionContainer">
        <p>@Model.ShortDescription</p>
    </div>

    <div class="PriceContainer">
        <p>@Model.Price ₪</p>
    </div>
</div>


@*<tab@*@*@*le class="partialProductBox">
    <tr>
        <td class="boldLine">@Model.Title</td>
    </tr>
    <tr>
        <td> <a href="/video/details/@Model.VideoID">@Html.ImageConvertHelper(Model.Image1, "150", "150") </a></td>
        @*<input type="submit" class="button" value="Delete" onclick="location.href='@Url.Action("Delete", "Video", new { id = Model.VideoID })'" />*@
@*</tr>
        <tr>
            <td>@Model.ShortDescription</td>
        </tr>
        <tr>
            <td class="boldLine">$@Model.Price</td>
        </tr>
    </table>*@